<div class="container">
<p style="color:Blue"><span appColorDirective>Employee 2 Json Data</span></p>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<input style='margin:10px;float:left;color:blue;width:150px'type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
<table class="table table-hover">
    <thead>
    <tr class="table-success">
        <th style='color:blue'>
         Id
        </th>
        <th style='color:blue'>
     Name
        </th>
        <th style='color:blue'>
 Salary
        </th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let employee of employees|filter:term">
  <div appColorDirective><td style='color:green'>
      {{employee.Id}}
  </td>
  <td style='color:green'>
      {{employee.Name|uppercase}}
  </td>
  <td style='color:green'>
    {{employee.Salary|currency:'INR'}}
</td></div>
</tr>
</tbody>
</table>
</div>