<!--<app-robert></app-robert>
<app-interpolation></app-interpolation>-->
<!--<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-struct-directives></app-struct-rectives>-->
<!--<app-product></app-product>
<app-parent></app-parent>
<app-calculator></app-calculator>
<app-first></app-first>
<app-second></app-second>-->
<!--<app-temp-driven></app-temp-driven>-->
<app-template-driven></app-template-driven>
<app-model-driven></app-model-driven>
<!--<app-pipes></app-pipes>-->
<!--<app-temp-driven></app-temp-driven>-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!--Brand-->
  <a class="navbar-brand" href="#">Navbar</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>