<!--<app-robert></app-robert>
<app-interpolation></app-interpolation>-->
<!--<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-struct-directives></app-struct-rectives>-->
<!--<app-product></app-product>
<app-parent></app-parent>
<app-calculator></app-calculator>
<app-first></app-first>
<app-second></app-second>-->
<!--<app-temp-driven></app-temp-driven>-->
<!--
<app-template-driven></app-template-driven>
<app-model-driven></app-model-driven>-->
<!--<app-pipes></app-pipes>-->
<!--<app-temp-driven></app-temp-driven>-->
<app-employee1></app-employee1>
<app-employee2></app-employee2>